@import '../../common/styles/variables';

.wrapper{
    max-width: 553px;
    .title{
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .errorText{
        color: $error;
        font-size: 14px;
        margin-top: 10px;
    }
    .input{
        font-size: 18px;
        width: 100%;
        color: $text;
        height: 48px;
        padding: 17px 15px 13px 15px;
        box-shadow: $shadow;
        border-radius: $border-radius;
        border: 1px solid $primary;
        &.error{
            border: 1px solid $error;
        }
        &::placeholder {
            font-size: 18px;
          }
        &:focus {
            outline:none;
          }
    }
}   
