@import '../../common/styles/variables';

.wrapper {
    background-color: $root;
    height: 100vh;
    .layout {
        max-width: $contentMaxWith;
        background-color: #fff;
        margin: 0 auto;
        height: 100vh;
        padding: 0 5px;
    }
}
