@import "../../../common/styles/variables";

.chatContent {
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
    max-width: $contentMaxWith - $widthChatList;
    width: 100%;
    overflow-x: hidden;
    .messagesBloc {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
        overflow-y: scroll;
    }
}