@import "../../../../common/styles/variables";

.formBlock {
    display: flex;
    justify-content: space-between;
    height: 81px;
    margin: 8px 16px 0 0;
    .chatTextarea {
        width: 100%;
        margin-right: 16px;
        box-shadow: $shadow;
        border-radius: $border-radius;
        border: 1px solid $primary;
        max-width: 970px;
        padding: 12px 16px;
        color: $text;
        font-size: 18px;
        @media (max-width: 800px) {
            font-size: 16px;
            padding: 8px 12px;
        }
        @media (max-width: 400px) {
            font-size: 14px;
            padding: 6px 10px;
        }
    }
    & button {
        width: 79px;
       height: 81px;
        @media (max-width: 800px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 400px) {
            width: 38px;
            height: 38px;
        }
    }
    & img {
        display: block;
        width: 48px;
        margin: auto;
        margin-bottom: 9px;
        margin-right: 16px;
        @media (max-width: 800px) {
            width: 32px;
            margin-bottom: 3px;
            margin-right: 10px;
        }
        @media (max-width: 400px) {
            width: 24px;
            margin-bottom: 2px;
            margin-right: 9px;
        }
    }
    @media (max-width: 800px) {
        height: 50px;
    }
    @media (max-width: 400px) {
        height: 38px;
        min-height: 38px;
    }
}

.isTypinContainer {
    position: relative;
    .isTypinBlock {
        position: absolute;
        top: -13px;
        right: 50%;
        color: $text;
        font-size: 14px;
    }
}
