@import "../../common/styles/variables";

.btn {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: $border-radius;
    box-shadow: $shadow;
    min-height: 38px;
    border: none;
    &.primary {
        background-color: $primary;
    }
    &.secondary {
        background-color: $secondary;
    }
    &.disabledBtn{
        opacity: 0.6;
    }
}
