@import "../../common/styles/variables";
.wrapper {
    background: $bgAvatarBlock;
    color: $text;
    font-size: 24px;
    transition: all 0.2s;
    position: sticky;
    top: 0;
    z-index: 100;
    .addRoomName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid $borderListChat;
        &.open{
            border-bottom: none;
        }
        .addRoomBtn {
            cursor: pointer;
            position: relative;
            width: 16px;
            height: 16px;
            .item {
                width: 100%;
                background: $bgBtnAddRoom;
                height: 4px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.2s;
            }
            & .vertical {
                transform: translateY(-50%) rotate(-90deg);
            }
            & .open {
                transform: translateY(-50%);
            }
        }
    }
    .addRoomForm {
        border: 1px dashed $borderListChat;
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        padding: 16px;
        .wrapperBtn {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            & button{
                width: 83px;
                height: 46px;
            }
        }
    }
}
