@import "./variables";

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

/* common styles */

body {
  font-family: Helvetica;
  font-weight: 400px;
}

.titleForm {
  font-size: 36px;
  color: #6a6868;
  text-align: center;
  margin-bottom: 31px;
  font-weight: 400;
}

.wrapperForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.wrapperFormInner{
  display: flex;
  width: 100%;
  justify-content: center;
}

/* drppdown */

.dropdown {
  position: absolute;
  background: $white;
  padding: 12px;
  border-radius: $border-radius;
  box-shadow: $shadow;
  transform: translate(-100%, 5px);
}

/* portal */
.portalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
