$root: #e7e7e7;
$white: #fff;
$error: #ff6c26;
$secondary: #b8de6f;
$primary: #01c5c4;
$text: #6a6868;
$avatar: #f1e189;
$border: #f1e189;
$borderListChat: #979797;

$bgBtnAddRoom: #d8d8d8;
$bgAvatarBlock: #fefcf3;

$shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
$border-radius: 16px 4px 16px 4px;
$border-radius-Rmessage: 16px 4px 16px 16px;
$border-radius-Lmessage: 4px 16px 16px 16px;

$contentMaxWith: 1440px;
$widthChatList: 335px;
$headerHeight: 48px;

@mixin burgerMenuElement {
    position: absolute;
    background-color: $bgBtnAddRoom;
    height: 5px;
    width: 24px;
    left: 50%;
}
