@import "../../common/styles/variables";

.wrapper {
    color: $text;
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 538px;
        min-width: 300px;
        .title {
            text-align: center;
            font-size: 36px;
            font-weight: 400;
        }
        .baseInfo {
            display: flex;
            margin-top: 32px;
            font-size: 14px;
            width: 100%;
            .text {
                margin-left: 16px;
                .login {
                    font-size: 24px;
                }
                .tokenExpired {
                    margin-top: 17px;
                }
            }
        }
        .statistic {
            margin-top: 32px;
            width: 100%;
            h3 {
                font-size: 24px;
                text-align: center;
                font-weight: 400;
            }
        }
        .bar {
            width: 100%;
        }
        .btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 60px;
            & button{
                width: 88px;
                height: 46px;
            }
        }
    }
}
