@import '../../common/styles/variables';

.form {
    width: 553px;
    flex-direction: column;
    & > div {
        margin-bottom: 16px;
    }
    .avatarBlockWrapper {
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 2px dotted $border;
        padding: 8px;
        background-color: $bgAvatarBlock;
        .urlBlock {
            padding: 10px;
            width: 100%;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    & button{
        width: 136px;
        height: 46px;
    }
}
