@import '../../common/styles/variables';
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $text;
    font-size: 36px;
    padding: 26px 0;
}