@import "../../common/styles/variables";

.header {
    width: 100%;
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    .headerInner {
        position: relative;
        height: $headerHeight;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $contentMaxWith;
        margin: 0 auto;
        padding: 0 10px;
        .logo {
            display: flex;
            font-size: 24px;
            color: $white;
            cursor: pointer;
            & > div{
               margin-right: 8px;
            }
        }
        .login {
            color: $white;
            font-size: 16px;
        }
    }
}

.menuList {
    li {
        cursor: pointer;
        padding: 7px;
        min-width: 95px;
        font-size: 16px;
        color: $text;
        &:hover{
            color: black;
        }
    }
    li + li {
        border-top: 1px solid #979797;
    }
}