@import "../../common/styles/variables";

    .form {
        max-width: 553px;
        flex-grow: 1;
        & > div {
            margin-bottom: 16px;
        }
        .btnsWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & button{
                width: 83px;
                height: 46px;
            }
        }
        span {
            font-size: 16px;
            color: $primary;
            cursor: pointer;
        }
    }

