@import "../../common/styles/variables";

.burgerBtn {
    cursor: pointer;
    width: 36px;
    height: 24px;
    position: relative;
    display: none;
    span {
        @include burgerMenuElement;
        transform: translate(-50%, -50%);
        top: 50%;
    }
    &::after,
    &::before {
        content: "";
        @include burgerMenuElement;
        transform: translate(-50%);
    }
    &::after {
        top: 0;
    }
    &::before {
        bottom: 0;
    }
    &.visible {
        display: block;
    }
    @media (max-width: 800px) {
        display: block;
    }
}
