@import "../../../common/styles/variables";

.chatList {
    font-size: 24px;
    color: $text;
    width: $widthChatList;
    flex-shrink: 1;
    border-right: 1px solid $borderListChat;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: $white;
    transition: all linear 0.2s;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .itemChat {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 48px;
        border-bottom: 1px dashed $borderListChat;
        .itemChatName {
            padding: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .selectedChat {
            align-self: stretch;
            min-width: 15px;
            &.active {
                background: $primary;
            }
        }
    }
    @media (max-width: 800px) {
        position: absolute;
        left: -$widthChatList;
        top: 48px;
        height: 100%;
    }
    &.open {
        left: 0px;
    }
}
