@import "../../common/styles/variables";

.avatar {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $text;
    background-color: $avatar;
    text-align: center;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    overflow: hidden;
    &.large {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 36px;
    }
    img{
        width: 100%;
    }
}
