@import "../../common/styles/variables";

.wrapper {
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  &.left {
    justify-content: flex-start;
  }
  .container {
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    &.left {
      flex-direction: row-reverse;
      margin-right: 16px;
    }
    .messageBody {
      word-break: break-all;
      width: 100%;
      padding: 12px 16px;
      border-radius: $border-radius-Rmessage;
      background: $secondary;
      color: $white;
      font-weight: 400px;
      font-size: 14px;
      margin-bottom: 3px;
      &.left {
        background-color: $primary;
        border-radius: $border-radius-Lmessage;
      }
    }
    .messageDate {
      display: flex;
      font-weight: 400px;
      font-size: 12px;
      color: $text;
      justify-content: flex-end;
      &.left {
        justify-content: flex-start;
      }
    }
    .messageAvatar {
      padding: 0 16px 0 16px;
      &.left {
        padding: 0 16px 0 0;
      }
    }
  }
}
